# Proyek Analisis Data: [Input Nama Dataset]
- **Nama:** 
- **Email:** 
- **ID Dicoding:** [Input Username]

## Menentukan Pertanyaan Bisnis

- Pertanyaan 1 -> 
- Pertanyaan 2

## Import Semua Packages/Library yang Digunakan

In [1]:
import pandas as pd

## Data Wrangling

### Gathering Data

In [2]:
#customer dataset
customers_df=pd.read_csv('data/customers_dataset.csv')
geolocation_df=pd.read_csv('data/geolocation_dataset.csv')
order_items_df=pd.read_csv('data/order_items_dataset.csv')
order_payments_df=pd.read_csv('data/order_payments_dataset.csv')
order_reviews_df=pd.read_csv('data/order_reviews_dataset.csv')
orders_df=pd.read_csv('data/orders_dataset.csv')
products_category_df=pd.read_csv('data/product_category_name_translation.csv')
products_df=pd.read_csv('data/products_dataset.csv')
sellers_df=pd.read_csv('data/sellers_dataset.csv')

In [3]:
products_df = products_df.merge(products_category_df, on='product_category_name', how='left')

In [4]:
df=orders_df.merge(order_items_df, on='order_id', how='inner')
df=df.merge(order_payments_df, on='order_id', how='inner',validate='m:m')
df=df.merge(order_reviews_df, on='order_id', how='inner')
df=df.merge(products_df, on='product_id',how='inner' )
df=df.merge(customers_df, on='customer_id', how='inner')
df=df.merge(sellers_df, on='seller_id',how='inner')

In [5]:
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,...,product_height_cm,product_width_cm,product_category_name_english,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,seller_zip_code_prefix,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,87285b34884572647811a353c7ac498a,...,8.0,13.0,housewares,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,87285b34884572647811a353c7ac498a,...,8.0,13.0,housewares,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,87285b34884572647811a353c7ac498a,...,8.0,13.0,housewares,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350,maua,SP
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,1,595fac2a385ac33a80bd5114aec74eb8,...,13.0,19.0,perfumery,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,31570,belo horizonte,SP
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,1,aa4383b373c6aca5d8797843e5594415,...,19.0,21.0,auto,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,14840,guariba,SP

info data:
- order_id: ID unik dari pesanan
- customer_id: ID unik dari pelanggan yang membuat pesanan.
- order_status: Status pesanan (seperti delivered, shipped, canceled).
- order_purchase_timestamp: Waktu pesanan dilakukan.
- order_approved_at: Waktu persetujuan pesanan.
- order_delivered_carrier_date: Tanggal pengiriman oleh kurir.
- order_delivered_customer_date: Tanggal pengiriman ke pelanggan.
- order_estimated_delivery_date: Tanggal estimasi pengiriman ke pelanggan.
- order_id: ID unik dari pesanan.
- order_item_id: ID unik dari item dalam pesanan.
- product_id: ID unik dari produk.
- seller_id: ID unik dari penjual.
- shipping_limit_date: Batas waktu pengiriman oleh penjual.
- price: Harga item.
- freight_value: Biaya pengiriman.
- product_id: ID unik dari produk.
- product_category_name: Nama kategori produk dalam bahasa Portugis.
- product_name_length: Panjang nama produk.
- product_description_length: Panjang deskripsi produk.
- product_photos_qty: Jumlah foto produk.
- product_weight_g: Berat produk dalam gram.
- product_length_cm, product_height_cm, product_width_cm: Dimensi produk dalam cm.
- seller_id: ID unik dari penjual.
- seller_zip_code_prefix: Kode pos penjual.
- seller_city: Kota asal penjual.
- seller_state: Negara bagian asal penjual.
- customer_id: ID unik dari pelanggan.
- customer_unique_id: ID unik untuk mengidentifikasi pelanggan secara individual.
- customer_zip_code_prefix: Kode pos pelanggan.
- customer_city: Kota asal pelanggan.
- customer_state: Negara bagian asal pelanggan.
- order_id: ID unik dari pesanan.
- payment_sequential: Urutan pembayaran untuk pesanan (jika ada lebih dari satu metode).
- payment_type: Jenis pembayaran (seperti credit_card, boleto).
- payment_installments: Jumlah angsuran untuk pembayaran.
- payment_value: Jumlah pembayaran.
- review_id: ID unik dari ulasan.
- order_id: ID unik dari pesanan.
- review_score: Skor ulasan (1-5).
- review_comment_title: Judul ulasan (jika ada).
- review_comment_message: Pesan ulasan (jika ada).
- review_creation_date: Tanggal ulasan dibuat.
- review_answer_timestamp: Tanggal ulasan dijawab oleh penjual.

**Insight:**
- Total 39 columns dan 117329 baris 
- data berhasil digabungkan

### Assessing Data

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117329 entries, 0 to 117328
Data columns (total 40 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       117329 non-null  object
 1   customer_id                    117329 non-null  object
 2   order_status                   117329 non-null  object
 3   order_purchase_timestamp       117329 non-null  object
 4   order_approved_at              117314 non-null  object
 5   order_delivered_carrier_date   116094 non-null  object
 6   order_delivered_customer_date  114858 non-null  object
 7   order_estimated_delivery_date  117329 non-null  object
 8   order_item_id                  117329 non-null  int64
 9   product_id                     117329 non-null  object
 10  seller_id                      117329 non-null  object
 11  shipping_limit_date            117329 non-null  object
 12  price                          117329 non-null  float64
 13  freight_value                  117329 non-null  float64
 14  payment_sequential             117329 non-null  int64
 15  payment_type                   117329 non-null  object
 16  payment_installments           117329 non-null  int64
 17  payment_value                  117329 non-null  float64
 18  review_id                      117329 non-null  object
 19  review_score                   117329 non-null  int64
 20  review_comment_title           13892 non-null   object
 21  review_comment_message         49679 non-null   object
 22  review_creation_date           117329 non-null  object
 23  review_answer_timestamp        117329 non-null  object
 24  product_category_name          115634 non-null  object
 25  product_name_lenght            115634 non-null  float64
 26  product_description_lenght     115634 non-null  float64
 27  product_photos_qty             115634 non-null  float64
 28  product_weight_g               117309 non-null  float64
 29  product_length_cm              117309 non-null  float64
 30  product_height_cm              117309 non-null  float64
 31  product_width_cm               117309 non-null  float64
 32  product_category_name_english  115609 non-null  object
 33  customer_unique_id             117329 non-null  object
 34  customer_zip_code_prefix       117329 non-null  int64
 35  customer_city                  117329 non-null  object
 36  customer_state                 117329 non-null  object
 37  seller_zip_code_prefix         117329 non-null  int64
 38  seller_city                    117329 non-null  object
 39  seller_state                   117329 non-null  object
dtypes: float64(10), int64(6), object(24)
memory usage: 35.8+ MB

In [7]:
# cek missing value
df.isna().sum()

order_id                              0
customer_id                           0
order_status                          0
order_purchase_timestamp              0
order_approved_at                    15
order_delivered_carrier_date       1235
order_delivered_customer_date      2471
order_estimated_delivery_date         0
order_item_id                         0
product_id                            0
seller_id                             0
shipping_limit_date                   0
price                                 0
freight_value                         0
payment_sequential                    0
payment_type                          0
payment_installments                  0
payment_value                         0
review_id                             0
review_score                          0
review_comment_title             103437
review_comment_message            67650
review_creation_date                  0
review_answer_timestamp               0
product_category_name              1695
product_name_lenght                1695
product_description_lenght         1695
product_photos_qty                 1695
product_weight_g                     20
product_length_cm                    20
product_height_cm                    20
product_width_cm                     20
product_category_name_english      1720
customer_unique_id                    0
customer_zip_code_prefix              0
customer_city                         0
customer_state                        0
seller_zip_code_prefix                0
seller_city                           0
seller_state                          0
dtype: int64

In [8]:
# cek duplikat
print('Jumlah duplikat:', df.duplicated().sum())

#cek deskripsi data
df.describe()

Jumlah duplikat: 0

,order_item_id,price,freight_value,payment_sequential,payment_installments,payment_value,review_score,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,customer_zip_code_prefix,seller_zip_code_prefix
count,117329.000000,117329.000000,117329.000000,117329.000000,117329.000000,117329.000000,117329.000000,115634.000000,115634.000000,115634.000000,117309.000000,117309.000000,117309.000000,117309.000000,117329.000000,117329.000000
mean,1.194121,120.524349,20.027514,1.094452,2.940151,172.062565,4.031467,48.768018,785.802861,2.205528,2110.763062,30.254456,16.612476,23.071452,35060.118112,24450.781955
std,0.684225,182.944843,15.828077,0.731174,2.775370,265.388194,1.387927,10.033831,652.382965,1.717783,3785.128931,16.177519,13.452625,11.745875,29849.496175,27582.364358
min,1.000000,0.850000,0.000000,1.000000,0.000000,0.000000,1.000000,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000,1003.000000,1001.000000
25%,1.000000,39.900000,13.080000,1.000000,1.000000,60.750000,4.000000,42.000000,346.000000,1.000000,300.000000,18.000000,8.000000,15.000000,11250.000000,6429.000000
50%,1.000000,74.900000,16.280000,1.000000,2.000000,108.100000,5.000000,52.000000,600.000000,1.000000,700.000000,25.000000,13.000000,20.000000,24240.000000,13660.000000
75%,1.000000,134.900000,21.180000,1.000000,4.000000,189.060000,5.000000,57.000000,983.000000,3.000000,1800.000000,38.000000,20.000000,30.000000,58770.000000,28035.000000
max,21.000000,6735.000000,409.680000,29.000000,24.000000,13664.080000,5.000000,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000,99990.000000,99730.000000

In [15]:
# cek missing value order_approved_at
miss_row=df[df['order_approved_at'].isnull()&(df['order_status']=='delivered')]
print(miss_row[['order_id', 'order_status', 'order_purchase_timestamp', 
                        'order_approved_at', 'order_delivered_carrier_date', 
                        'order_delivered_customer_date']])
print(miss_row['order_purchase_timestamp'].describe())
print(miss_row['order_delivered_customer_date'].describe())

                                order_id order_status  \
6214    e04abd8149ef81b95221e88f6ed9ab6a    delivered
19516   8a9adc69528e1001fc68dd0aaebbb54a    delivered
22425   7013bcfc1c97fe719a7b5e05e61c12db    delivered
26727   5cf925b116421afa85ee25e99b4c34fb    delivered
27319   12a95a3c06dbaec84bcfb0e2da5d228a    delivered
31669   c1d4211b3dae76144deccd6c74144a88    delivered
45231   d69e5d356402adc8cf17e08b5033acfb    delivered
46458   d77031d6a3c8a52f019764e68f211c69    delivered
57104   7002a78c79c519ac54022d4f8a65e6e8    delivered
72672   2eecb0d85f281280f79fa00f9cec1a95    delivered
74216   51eb2eebd5d76a24625b31c33dd41449    delivered
79763   88083e8f64d95b932164187484d90212    delivered
79764   88083e8f64d95b932164187484d90212    delivered
85328   3c0b8706b065f9919d0505d3b3343881    delivered
100165  2babbb4b15e6d2dfe95e2de765c97bce    delivered

       order_purchase_timestamp order_approved_at  \
6214        2017-02-18 14:40:00               NaT
19516       2017-02-18 12:45:31               NaT
22425       2017-02-18 13:29:47               NaT
26727       2017-02-18 16:48:35               NaT
27319       2017-02-17 13:05:55               NaT
31669       2017-01-19 12:48:08               NaT
45231       2017-02-19 01:28:47               NaT
46458       2017-02-18 11:04:19               NaT
57104       2017-01-19 22:26:59               NaT
72672       2017-02-17 17:21:55               NaT
74216       2017-02-18 15:52:27               NaT
79763       2017-02-18 22:49:19               NaT
79764       2017-02-18 22:49:19               NaT
85328       2017-02-17 15:53:27               NaT
100165      2017-02-18 17:15:03               NaT

       order_delivered_carrier_date order_delivered_customer_date
6214            2017-02-23 12:04:47           2017-03-01 13:25:33
19516           2017-02-23 09:01:52           2017-03-02 10:05:06
22425           2017-02-22 16:25:25           2017-03-01 08:07:38
26727           2017-02-22 11:23:10           2017-03-09 07:28:47
27319           2017-02-22 11:23:11           2017-03-02 11:09:19
31669           2017-01-25 14:56:50           2017-01-30 18:16:01
45231           2017-02-23 03:11:48           2017-03-02 03:41:58
46458           2017-02-23 07:23:36           2017-03-02 16:15:23
57104           2017-01-27 11:08:05           2017-02-06 14:22:19
72672           2017-02-22 11:42:51           2017-03-03 12:16:03
74216           2017-02-23 03:09:14           2017-03-07 13:57:47
79763           2017-02-22 11:31:06           2017-03-02 12:06:06
79764           2017-02-22 11:31:06           2017-03-02 12:06:06
85328           2017-02-22 11:31:30           2017-03-03 11:47:47
100165          2017-02-22 11:23:11           2017-03-03 18:43:43
count                               15
mean     2017-02-14 12:10:38.066666496
min                2017-01-19 12:48:08
25%                2017-02-17 16:37:41
50%                2017-02-18 13:29:47
75%                2017-02-18 17:01:49
max                2017-02-19 01:28:47
Name: order_purchase_timestamp, dtype: object
count                            15
mean     2017-02-27 17:03:18.400000
min             2017-01-30 18:16:01
25%      2017-03-01 20:33:45.500000
50%             2017-03-02 12:06:06
75%             2017-03-03 12:01:55
max             2017-03-09 07:28:47
Name: order_delivered_customer_date, dtype: object

**Insight:**

Kesalahan type data:
- order_purchase_timestamp (object -> datetime)
- order_approved_at (object -> datetime)
- order_delivered_carrier_date (object -> datetime)
- order_delivered_customer_date (object -> datetime)
- order_estimated_delivery_date (object -> datetime)
- shipping_limit_date (object -> datetime)
- review_creation_date (object -> datetime)
- review_answer_timestamp (object -> datetime)

Missing value pada:
- order_approved_at -> 15
- order_delivered_carrier_date -> 1235
- order_delivered_customer_date -> 2471
- review_comment_title -> 103437
- review_comment_message -> 67650
- product_category_name -> 1695
- product_name_lenght -> 1695
- product_description_lenght -> 1695
- product_photos_qty -> 1695
- product_weight_g -> 20
- product_length_cm -> 20
- product_height_cm -> 20
- product_width_cm -> 20
- product_category_name_english -> 1720

### Cleaning Data

In [9]:
datetime_coloms=['order_purchase_timestamp','order_approved_at','order_delivered_carrier_date','order_delivered_customer_date',
    'order_estimated_delivery_date','shipping_limit_date','review_creation_date','review_answer_timestamp']
for column in datetime_coloms:
    df[column]=pd.to_datetime(df[column])

In [10]:
- review_comment_title -> 103437
- review_comment_message -> 67650


- order_approved_at -> 15
- order_delivered_carrier_date -> 1235
- order_delivered_customer_date -> 2471

- product_category_name -> 1695
- product_name_lenght -> 1695

- product_description_lenght -> 1695
- product_photos_qty -> 1695
- product_weight_g -> 20
- product_length_cm -> 20
- product_height_cm -> 20
- product_width_cm -> 20
- product_category_name_english -> 1720

SyntaxError: invalid syntax (532651684.py, line 1)

In [ ]:
print('products_category_df', 1695/117329)

products_category_df 0.014446556264862055

In [ ]:
df['product_category_name'].unique()

array(['utilidades_domesticas', 'perfumaria', 'automotivo', 'pet_shop',
       'papelaria', nan, 'moveis_decoracao', 'moveis_escritorio',
       'ferramentas_jardim', 'informatica_acessorios', 'cama_mesa_banho',
       'brinquedos', 'telefonia', 'beleza_saude', 'eletronicos', 'bebes',
       'cool_stuff', 'relogios_presentes', 'climatizacao',
       'esporte_lazer', 'livros_interesse_geral',
       'construcao_ferramentas_construcao', 'eletroportateis',
       'alimentos', 'malas_acessorios', 'fashion_underwear_e_moda_praia',
       'artigos_de_natal', 'fashion_bolsas_e_acessorios',
       'instrumentos_musicais', 'construcao_ferramentas_iluminacao',
       'livros_tecnicos', 'construcao_ferramentas_jardim',
       'eletrodomesticos', 'market_place', 'agro_industria_e_comercio',
       'artigos_de_festas', 'casa_conforto', 'cds_dvds_musicais',
       'industria_comercio_e_negocios', 'consoles_games', 'moveis_quarto',
       'construcao_ferramentas_seguranca', 'telefonia_fixa', 'bebidas',
       'moveis_cozinha_area_de_servico_jantar_e_jardim',
       'fashion_calcados', 'casa_construcao', 'audio',
       'eletrodomesticos_2', 'fashion_roupa_masculina', 'cine_foto',
       'moveis_sala', 'artes', 'alimentos_bebidas',
       'tablets_impressao_imagem', 'fashion_esporte',
       'portateis_cozinha_e_preparadores_de_alimentos', 'la_cuisine',
       'flores', 'pcs', 'casa_conforto_2', 'portateis_casa_forno_e_cafe',
       'dvds_blu_ray', 'pc_gamer', 'construcao_ferramentas_ferramentas',
       'fashion_roupa_feminina', 'moveis_colchao_e_estofado',
       'sinalizacao_e_seguranca', 'fraldas_higiene', 'livros_importados',
       'fashion_roupa_infanto_juvenil', 'musica', 'artes_e_artesanato',
       'seguros_e_servicos'], dtype=object)

In [ ]:
missing_category=df[df['product_description_lenght'].isna()]
missing_category

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,...,product_height_cm,product_width_cm,product_category_name_english,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,seller_zip_code_prefix,seller_city,seller_state
8,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,invoiced,2017-04-11 12:22:08,2017-04-13 13:25:17,NaT,NaT,2017-05-09,1,a1804276d9941ac0733cfd409f5206eb,...,35.0,15.0,NaN,36edbb3fb164b1f16485364b6fb04c73,98900,santa rosa,RS,5455,sao paulo,SP
128,bfe42c22ecbf90bc9f35cf591270b6a7,803ac05904124294f8767894d6da532b,delivered,2018-01-27 22:04:34,2018-01-27 22:16:18,2018-02-03 03:56:00,2018-02-09 20:16:40,2018-02-26,1,71225f49be70df4297892f6a5fa62171,...,2.0,11.0,NaN,34c58672601f2c6d29db7efd1f6bf958,38650,bonfinopolis de minas,MG,13483,limeira,SP
219,58ac1947c1a9067b9f416cba6d844a3f,ee8e1d37f563ecc11cc4dcb4dfd794c2,delivered,2017-09-13 09:18:50,2017-09-13 13:45:43,2017-09-14 21:20:03,2017-09-21 21:16:17,2017-09-25,1,9820e04e332fc450d6fd975befc1bc28,...,40.0,30.0,NaN,5cbf29b2dcf212a6a5d864b887238c72,4842,sao paulo,SP,11075,santos,SP
272,e22b71f6e4a481445ec4527cb4c405f7,1faf89c8f142db3fca6cf314c51a37b6,delivered,2017-04-22 13:48:18,2017-04-22 14:01:13,2017-04-24 19:08:53,2017-05-02 15:45:27,2017-05-11,1,3bc5164bc7f4be77002d6651da65c98c,...,11.0,19.0,NaN,1268b060098ed3f22c2e7c34cc72a1a8,38240,itapagipe,MG,31255,belo horizonte,MG
314,a094215e786240fcfefb83d18036a1cd,86acfb656743da0c113d176832c9d535,delivered,2018-02-08 18:56:45,2018-02-08 19:32:18,2018-02-09 21:41:54,2018-02-19 13:28:50,2018-02-22,1,5a848e4ab52fd5445cdc07aab1c40e48,...,12.0,15.0,NaN,f5cb81f98962f7504bef1e75579b6dff,13474,americana,SP,7133,guarulhos,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116874,020f8f4df303ae8aa39b806b766d2681,d588273738545bc6a0d30971bf72e938,delivered,2017-12-27 09:58:49,2017-12-27 10:10:33,2018-01-04 22:27:07,2018-01-09 21:58:57,2018-01-23,1,b1d207586fca400a2370d50a9ba1da98,...,4.0,11.0,NaN,e883ca09ca9171b6a644ddb4a970ad27,70673,brasilia,DF,6506,santana de parnaiba,SP
116890,1a10e938a1c7d8e5eecc3380f71ca76b,8a81607347c25d881d995d94de6ad824,delivered,2018-07-25 08:58:35,2018-07-26 03:10:20,2018-07-27 11:32:00,2018-08-01 19:28:20,2018-08-10,1,8d39a63db6a98e40571f486e0c711cf7,...,7.0,11.0,NaN,75fe53e03a8a9797acb680ce8710da8b,27264,volta redonda,RJ,7133,guarulhos,SP
117067,e33865519137f5737444109ae8438633,64b086bdcc54458af3ea3bd838db54a5,delivered,2018-05-28 00:44:06,2018-05-29 03:31:17,2018-05-30 13:13:00,2018-06-01 22:25:39,2018-06-20,1,e9cbc0910ab050cbd92fbeb051c270ea,...,15.0,28.0,NaN,82ffeb20040f58e6c008e4402fa6f992,1228,sao paulo,SP,2407,sao paulo,SP
117074,f0dd9af88d8ef5a8e4670fbbedaf19c4,30ddb50bd22ee927ebe308ea3da60735,delivered,2017-09-02 20:38:29,2017-09-05 04:24:12,2017-09-14 23:13:41,2017-09-15 14:59:50,2017-09-19,1,0c877471e35049402bca235e06cb8063,...,20.0,30.0,NaN,1d627d8a6e1e33ea8eeeb7a17d998660,11045,santos,SP,3471,sao paulo,SP
117080,272874573723eec18f23c0471927d778,48e080c8001e92ebea2b64e474f91a60,delivered,2017-12-20 23:10:33,2017-12-20 23:29:37,2017-12-21 21:49:35,2017-12-26 22:29:32,2018-01-09,1,5a848e4ab52fd5445cdc07aab1c40e48,...,12.0,15.0,NaN,da59579685bd771fdd4f90fb50d28cd3,7240,guarulhos,SP,7133,guarulhos,SP

In [ ]:
df['review_comment_message'].fillna(value='no coment', inplace=True)
df['review_comment_title'].fillna(value='no coment', inplace=True)

**Insight:**
- xxx
- xxx

## Exploratory Data Analysis (EDA)

### Explore ...

**Insight:**
- xxx
- xxx

## Visualization & Explanatory Analysis

### Pertanyaan 1:

### Pertanyaan 2:

**Insight:**
- xxx
- xxx

## Analisis Lanjutan (Opsional)

## Conclusion

- Conclution pertanyaan 1
- Conclution pertanyaan 2